@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css');
body{
    background: #0F0715;
    max-height: 100vh;
    background-repeat: no-repeat;
    font-family: "Sora", serif;
}
/* HERO SECTION */
#mb-img{
    display: none;
    transition: ease-in-out 1s;
}
.hero-content{
    max-width: 100%;
    width: 628px;
}
#heropage{
    background: transparent;
}
#hero-btns{
    gap: 20px;
}
#herosp{
    font-size: clamp(0.7rem, -0.475rem + 6vw, 2.5rem);
}
.herohdr{
    font-size: clamp(1rem, -1.4rem + 8.333vw, 3.1rem);
    font-weight: bold;
    background-image: linear-gradient(
		to right,
		#8750f7 0%,
		#ffffff 100%
	);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#hero-img img{
    border: 2px solid #2a1454;
    border-radius: 50px;
    height: auto;
    max-width: 75%;
    transform: rotate(4.29deg);
    transition: 0.3s;
}
#hero-img img:hover{
    transform: rotate(0deg);
    border: 2px solid #8750f7;
}

#about-btn{
    border: 1px solid #8750f7;
    border-radius: 100px;
    background: transparent;
    color: #8750f7;
    font-size: 15px;
    padding: 17px 35px;
    transition: 1s;
}
#about-btn:hover{
    background: #8750f7;
    border: 1px solid #8750f7;
    color: white;
}
#dl-resume{
    background: #8750f7;
    border: 1px solid #8750f7;
    border-radius: 100px;
    padding: 17px 35px;
    font-size: 15px;
    transition: 1s;
}
#dl-resume:hover{
    border: 1px solid #8750f7;
    background: transparent;
    color: #8750f7;
}
#social-i{
    color: white;
}
.facebook{
    border: 1px solid white;
    border-radius: 100px;
    width: auto;
    height: 20px;
    padding: 6px 10px;
    transition: 1s;
}
.facebook:hover{
    color: #8750f7;
    border: 1px solid #8750f7;
}
.github{
    border: 1px solid white;
    border-radius: 100px;
    width: auto;
    height: 20px;
    padding: 6px 7px;
    transition: 1s;
}
.github:hover{
    color: #8750f7;
    border: 1px solid #8750f7;
}
.linkedin{
    border: 1px solid white;
    border-radius: 100px;
    width: auto;
    height: 20px;
    padding: 6px 8px;
    transition: 1s;
}
.linkedin:hover{
    color: #8750f7;
    border: 1px solid #8750f7;
}
.faDownload{
    display: none;
    transition: ease-in-out 1s;
}
.hero-texts{
    display: flex;
    color: #DDDDDD;
    align-content: center;
    justify-content: center;
    max-width: 200px;
    width: 100%;
}
#exp-section{
    width: 75%;
    justify-content: space-between;
}
.exps{
    display: flex;
    justify-content: center;
    padding-top: 60px;
}
.head-par{
    display: flex;
    align-items: center;
}
.head-par h1{
    font-size: clamp(0.2rem, 0.2rem + 6vw, 3rem)!important;
    font-weight: 600;
}
.head-par p{
    font-size: clamp(0.7rem, -1.65rem + 6vw, 1.05rem)!important;
    padding-left: 10px;
}
.testcounter{
    display: flex;
}
.btn-socials{
    display: flex;
    gap: 30px;
    width: 90%;
}
.btn-socials li a{
    font-size: clamp(0.7rem, -1.1rem + 6vw, 0.95rem)!important;
}
@media (min-width: 720px) {
    .lg\:w-5\/12 {
        width: 60%;
    }
}
@media only screen and (max-width: 600px) {
    .head-par h1{
        font-size: 45px;
        font-weight: 600;
    }
    .head-par p{
        font-size: 16px;
    }
    .head-par{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .testcounter{
        display: flex;
    }
}
@media only screen and (max-width: 719px) {
    #mb-img{
        display: block;
    }
    #desk-img{
        display: none;
    }
    #hero-img{
        display: flex;
        justify-content: center;
    }
    #hero-img img{
        max-width: 60%;
    }
    #heropage{
        padding-top: 90px;
    }
}
@media only screen and (max-width: 959px){
    .faDownload{
        display: block;
    }
    .faDownload-inner{
        padding-right: 5px;
    }
    .dl-resume{
        display: none;
    }
    .hero-texts{
        max-width: 150px;
    }
}
@media screen and (min-width: 719px) and (max-width: 1139px) { 
    #hero-img img{
        max-width: 100%;
    }
}