@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
#works{
    background: #0F0715;
    background-repeat: no-repeat;
    font-family: "Sora", serif;
}
#p-h2{
    font-size: 40px;
    font-weight: bold;
    background-image: linear-gradient(
		to right,
		#8750f7 0%,
		#ffffff 100%
	);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#container-proj{
    background: #1c1127;
    border: 1px solid #140C1C;
    padding: 17px 35px;
    font-size: 15px;
    transition: 1s;
}