@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
#works{
    background: #0F0715;
    background-repeat: no-repeat;
    font-family: "Sora", serif;
}
#p-h2{
    font-size: 40px;
    font-weight: bold;
    background-image: linear-gradient(
		to right,
		#8750f7 0%,
		#ffffff 100%
	);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#container-proj{
    background-color: rgba(33, 19, 48, 0.678);
    box-shadow: 5px 10px 13px rgb(0, 0, 0, 0.5);
    border-radius: 7px;
    padding: 17px 35px;
    font-size: 15px;
    transition: ease-in-out 0.5s;
    border: 1px solid transparent;
}
#container-proj:hover{
    border: 1px solid #8750f7;
    background-color: rgba(135, 80, 247, 0.3);
}
