@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
#portfolio-sec{
    background: rgb(135,80,247);
    background: radial-gradient(circle, rgba(135,80,247,1) 0%, rgba(124,74,225,1) 0%, rgba(112,68,200,1) 0%, rgba(93,59,164,1) 0%, rgba(102,63,181,1) 0%, rgba(54,34,91,1) 0%, rgba(31,19,48,1) 16%, rgba(20,12,28,1) 35%);
    background-repeat: no-repeat;
    font-family: "Sora", serif;
}
#p-h2{
    font-size: 40px;
    font-weight: bold;
    background-image: linear-gradient(
		to right,
		#8750f7 0%,
		#ffffff 100%
	);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#container-proj{
    background: #1c1127;
    border: 1px solid #140C1C;
    padding: 17px 35px;
    font-size: 15px;
    transition: 1s;
}